/*
 * File: Main.css
 * Names: Graham Chance, Charlie Beck, Ryan Salerno, Mike Remondi
 * Class: CS361
 * Project: 9
 * Due Date: December 7, 2016
 */

.staffLine {
    -fx-stroke: gray;
}

.note {
    -fx-opacity: 0.5;
    -fx-stroke-type: INSIDE;
}

.dragBox {
    -fx-stroke: goldenrod;
    -fx-stroke-width: 2;
    -fx-fill: rgba(0.1, 0.1, 0.1, 0);
    -fx-stroke-dash-array: 3 7 3 7;
}

.singleNoteGroupablePane{
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.selectedGroupablePane{
    -fx-border-color: red;
     -fx-border-width: 2;
     -fx-border-style: dashed;
}

.unselectedGroupablePane{
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-style: dashed;
}

#fxCompositionSheet {
    -fx-pref-height: 1280.0;
    -fx-pref-width: 2000.0;
}

#fxTempoLine {
    -fx-stroke: red;
}

#instrumentPane {
    -fx-pref-height: 1280.0;
    -fx-pref-width: 124.0;
}

